@using BlingRus.Web.Models
@using Microsoft.AspNetCore.Routing
@model CatalogModel
@{
    ViewData["Title"] = "Kontakta oss";
}

<ul class="list-group">
    @foreach (var item in Model.Catalog)
    {
        <li class="list-group-item row">
            <div class="form-group form-inline">
                <div class="col-sm-2 col-xs-6">
                    <input type="hidden" value="@item.Id" data-role="itemId" />
                    <a href="@Url.Content("~/img/" + item.Image)" class="thumbnail">
                        <img src="@Url.Content("~/img/" + item.Image)" class="img-rounded" />
                    </a>
                </div>
                <div class="col-sm-4 col-xs-2">
                    @item.Description
                </div>
                <div class="col-sm-6 col-xs-4 row">
                    <div class="input-group col-xs-6 col-sm-4">
                        <input type="text" class="form-control" value="" data-role="customization" placeholder="Personlig gravyr" />
                    </div>
                    
                    <div class="input-group col-xs-6 col-sm-2">
                        <input class="form-control" type="number" data-role="amount" value="1">
                    </div>

                    <div class="input-group col-xs-6 col-sm-2">
                        <select class="form-control" data-role="size" asp-items="Html.GetEnumSelectList<JewelrySize>()"></select>
                    </div>
                    <div class="input-group col-xs-6 col-sm-3">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-action="AddToCart" data-href="@Url.Action("Add", "Cart", new RouteValueDictionary(new {id = Model.CartId}))">
                                <i class="glyphicon glyphicon-plus"></i>
                                Köp
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

<div class="modal fade" id="success" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dialog title</h4>
            </div>
            <div class="modal-body">
                <p id="success-text"></p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn[data-action='AddToCart']").click(function (e) {
                e.preventDefault();
                var row = $(this).closest("li"),
                    customization = row.find("input[data-role=\"customization\"]").val(),
                    amount = row.find("input[data-role=\"amount\"]").val(),
                    size = row.find("input[data-role=\"size\"]").val(),
                    itemId = row.find("input[data-role=\"itemId\"]").val(),
                    url = $(this).attr("data-href"),
                    adding = $.post({
                        "type": "POST",
                        "url": url,
                        "data": {
                            "@nameof(AddItemModel.Customization)": customization,
                            "@nameof(AddItemModel.Amount)": amount,
                            "@nameof(AddItemModel.Size)": size,
                            "@nameof(AddItemModel.ItemId)": itemId
                        }
                    });

                adding.done(function() {
                    $("#checkout-button").addClass("nonempty-cart");
                    $("#cart-counter").fadeOut(function () {
                        var previousAmount = parseInt($(this).text());
                        if (isNaN(previousAmount))
                            previousAmount = 0;
                        $(this).text(previousAmount + 1).fadeIn();
                    });
                    $("#success-text").text(amount + " sak(er) lades i kundvagnen.");
                });
                adding.fail(function(data) {
                    var error = data ? data.responseText : "";
                    $("#success-text").text("Nåt gick på tok: " + error);
                });
                adding.always(function() {
                    $("#success").modal('show');
                });
            });

        });
    </script>
}