@using BlingRus.Web.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Routing
@inject IViewLocalizer Localizer
@model CatalogModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="well">
    <h2>@Localizer["Store"]</h2>
</div>

<div class="store">

    @foreach (var category in Model.Catalog.GroupBy(item => item.Category))
    {

        <ul class="list-group">
            <li class="list-group-item row"><h4 class="list-group-item-heading">@Localizer[$"Category{category.Key}"]</h4></li>
            @foreach (var item in category)
            {
                <li class="list-group-item row">
                    <div class="form-group form-inline">
                        <div class="col-sm-1 col-xs-4">
                            <input type="hidden" value="@item.Id" data-role="itemId" />
                            <a href="@Url.Content("~/img/" + item.Image)" class="thumbnail">
                                <img src="@Url.Content("~/img/" + item.Image)" class="img-rounded" />
                            </a>
                            <span><strong>@item.UnitCost.ToString("0") SEK</strong></span>
                        </div>
                        <div class="col-sm-5 col-xs-4">
                            <h4 class="list-group-item-heading">@item.Name</h4>
                            <div class="list-group-item-text" style="white-space: pre-line">@item.Description</div>
                            <div class="list-group-item-text" style="white-space: pre-line; margin-top: 0.8em;"><em>@item.Description2</em></div>
                        </div>
                        <div class="col-sm-6 col-xs-4 row">
                            <div class="input-group col-xs-6 col-sm-4">
                                <input type="text" class="form-control" value="" data-role="customization" placeholder="@Localizer["Customization"]" />
                            </div>

                            <div class="input-group col-xs-6 col-sm-2">
                                <input class="form-control" type="number" data-role="amount" value="1">
                            </div>

                            <div class="input-group col-xs-6 col-sm-2">
                                <select class="form-control" data-role="size" asp-items="Html.GetEnumSelectList<JewelrySize>()"></select>
                            </div>
                            <div class="input-group col-xs-6 col-sm-3">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-action="AddToCart" data-href="@Url.Action("Add", "Cart", new RouteValueDictionary(new {id = Model.CartId}))">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        @Localizer["AddToCart"]
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }

</div>
<div class="modal fade" id="success" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Localizer["ConfirmationDialogTitle"]</h4>
            </div>
            <div class="modal-body">
                <p id="success-text"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="preview" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Localizer["PreviewDialogTitle"]</h4>
            </div>
            <div class="modal-body">
                <img id="preview-image" src="img/SmalArmbandText.png" alt="Preview" class="img-responsive">
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.thumbnail").click(function(e) {
                e.preventDefault();
                $("#preview-image").attr("src", $(this).attr("href"));
                $("#preview").modal('show');
                return false;
            });

            $(".btn[data-action='AddToCart']").click(function (e) {
                e.preventDefault();
                var row = $(this).closest("li"),
                    customization = row.find("input[data-role=\"customization\"]").val(),
                    amount = row.find("input[data-role=\"amount\"]").val(),
                    size = row.find("select[data-role=\"size\"]").val(),
                    itemId = row.find("input[data-role=\"itemId\"]").val(),
                    url = $(this).attr("data-href"),
                    adding = $.post({
                        "type": "POST",
                        "url": url,
                        "data": {
                            "@nameof(AddItemModel.Customization)": customization,
                            "@nameof(AddItemModel.Amount)": amount,
                            "@nameof(AddItemModel.Size)": size,
                            "@nameof(AddItemModel.ItemId)": itemId
                        }
                    });

                adding.done(function() {
                    $("#checkout-button").addClass("nonempty-cart");
                    $("#cart-counter").fadeOut(function () {
                        var previousAmount = parseInt($(this).text());
                        if (isNaN(previousAmount))
                            previousAmount = 0;
                        $(this).text(previousAmount + 1).fadeIn();
                    });
                    $("#success-text").text(amount + " @Localizer["NrOfThingsAddedToCart"]");
                });
                adding.fail(function(data) {
                    var error = data ? data.responseText : "";
                    $("#success-text").text("Oops: " + error);
                });
                adding.always(function() {
                    $("#success").modal('show');
                });
            });

        });
    </script>
}
