@using Microsoft.AspNetCore.Mvc.Localization
@model BlingRus.Domain.Order
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["ThankYouForYourOrder"]</h2>

<h3>@Localizer["DeliveryDetails"]</h3>
<p>@Localizer["DeliveryName"]: @Model.DeliveryName</p>
<p>@Localizer["DeliveryAddress"]: @Model.DeliveryAddress</p>

<h3>@Localizer["PaymentDetails"]</h3>
<p>@Localizer["CreditCardNumber"]: @Model.CreditCardNumber, @Localizer["CreditCardExpiration"]: @Model.CreditCardExpiration?.ToString("mmyy")</p>

<h3>@Localizer["OrderDetails"]</h3>
<table>
    <tr>
        <th style="min-width: 120px;">@Localizer["Description"]</th>
        <th style="min-width: 60px;">@Localizer["Quantity"]</th>
        <th style="min-width: 80px;">@Localizer["PricePerUnit"]</th>
        <th style="min-width: 80px;">@Localizer["Subtotal"]</th>
    </tr>
    @foreach (var item in Model.OrderLines)
    {
        <tr>
            <td>@item.Description@(string.IsNullOrEmpty(item.Customization) ? string.Empty : $": {item.Customization}")</td>
            <td>@item.QuantityOrdered</td>
            <td>@item.UnitGoodsValue.ToString("0.00")</td>
            <td>@item.GoodsValue.ToString("0.00")</td>
        </tr>


        if (item.EffectiveAdjustments?.Any() == true)
        {
            foreach (var adjustment in item.EffectiveAdjustments)
            {
                <tr>
                    <td>@adjustment.Description</td>
                    <td></td>
                    <td></td>
                    <td>@(adjustment.DiscountedAmount > 0 ? $"-{adjustment.DiscountedAmount:0.00}" : $"{adjustment.AddedAmount:0.00}")</td>
                </tr>
            }
        }
    }
    <tr>
        <td>@Localizer["ShippingCost"]</td>
        <td>@Model.TotalQuantityOrdered</td>
        <td></td>
        <td>@Model.TotalShippingCost.ToString("0.00")</td>
    </tr>
    @foreach (var discount in Model.EffectiveAdjustments)
    {
        <tr>
            <td>@discount.Description</td>
            <td></td>
            <td></td>
            <td>-@discount.DiscountedAmount</td>
        </tr>
    }

    <tr>
        <td><strong>@Localizer["OrderTotalAmount"]</strong></td>
        <td></td>
        <td></td>
        <td><strong>@Model.Sum.ToString("0.00")</strong></td>
    </tr>

</table>