@using Microsoft.AspNetCore.Mvc.Localization
@model BlingRus.Domain.Order
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["ThankYouForYourOrder"]</h2>

<h3>@Localizer["DeliveryDetails"]</h3>
<p>@Localizer["DeliveryName"]: @Model.DeliveryName</p>
<p>@Localizer["DeliveryAddress"]: @Model.DeliveryAddress</p>

<h3>@Localizer["PaymentDetails"]</h3>
<p>@Localizer["CreditCardNumber"]: @Model.CreditCardNumber, @Localizer["CreditCardExpiration"]: @Model.CreditCardExpiration?.ToString("mmyy")</p>

<h3>@Localizer["OrderDetails"]</h3>
<table>
    <tr>
        <td>@Localizer["Description"]</td>
        <td>@Localizer["Count"]</td>
        <td>@Localizer["Subtotal"]</td>
    </tr>
    @foreach (var item in Model.OrderLines)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.QuantityOrdered</td>
            <td>@item.GoodsValue</td>
        </tr>


        if (item.EffectiveAdjustments?.Any() == true)
        {
            foreach (var discount in item.EffectiveAdjustments)
            {
                <tr>
                    <td>@discount.Description</td>
                    <td></td>
                    <td>-@discount.DiscountedAmount</td>
                </tr>
            }
        }
    }
                <tr>
                    <td>@Localizer["ShippingCost"]</td>
                    <td></td>
                    <td>@Model.TotalShippingCost</td>
                </tr>
    @foreach (var discount in Model.EffectiveAdjustments)
    {
        <tr>
            <td>@discount.Description</td>
            <td></td>
            <td>-@discount.DiscountedAmount</td>
        </tr>
    }
    
    <tr>
        <td>@Localizer["OrderTotalAmount"]</td>
        <td></td>
        <td>@Model.Sum</td>
    </tr>

</table>