@using BlingRus.Web.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="@(ViewBag.FullPageContent ?? false ? "fullpage" : "")">
    @if (ViewBag.FullPageContent ?? false) { 
        @RenderBody()
    } else {
        <div class="logo">
            <div class="center-block">
                <img src="@Url.Content("~/img/BlingRUsLogo_header_megastor.png")" class="" style="max-height: 125px;"/>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Store" asp-action="Index">@Localizer["Store"]</a></li>
                    <li><a asp-controller="About" asp-action="Index">@Localizer["About"]</a></li>
                    <li><a asp-controller="About" asp-action="Contact">@Localizer["Contact"]</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 15px;">
                    <li>
                        <div class="input-group">
                            <a asp-controller="Store" asp-action="Checkout" class="btn btn-default navbar-btn" id="checkout-button"><i class="glyphicon glyphicon-shopping-cart"></i> @await Component.InvokeAsync(nameof(CartCounter))</a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container-fluid">
            @RenderBody()
        </div>

        <nav class="navbar page-footer navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-text">
                    <span>Why compromize when you can personalize?</span>
                </div>
                <div class="navbar-text navbar-right">
                    <span>Powered by</span>
                    <img src="/img/klarna-white-tagline.png" alt="Klarna"/>
                    <img src="/img/bankgirot-logo.png" alt="Bankgirot"/>
                </div>
            </div>
        </nav>
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
