@using BlingRus.Web.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="@(ViewBag.FullPageContent ?? false ? "fullpage" : "")">
    @if (ViewBag.FullPageContent ?? false)
    {
        @RenderBody()
    }
    else
    {
        <div class="logo hidden-xs">
            <div style="height: 105px; width: 262px; margin-left: 15px;">
                <a asp-controller="Landing" asp-action="Index"><img src="@Url.Content("~/img/Logo_HiRes.png")" style="max-height: 100px; margin-left: auto; margin-right: auto;" /></a>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Store" asp-action="Index">@Localizer["Store"]</a></li>
                    <li><a asp-controller="About" asp-action="Index">@Localizer["About"]</a></li>
                    <li><a asp-controller="About" asp-action="Faq">@Localizer["Faq"]</a></li>
                    <li><a asp-controller="About" asp-action="Contact">@Localizer["Contact"]</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
                    <li>
                        <div class="input-group">
                            <a asp-controller="Store" asp-action="Checkout" class="btn btn-default navbar-btn" id="checkout-button">
                                @await Component.InvokeAsync(nameof(CartCounter))
                            </a>

                            <a asp-action="Empty" asp-controller="Cart" class="btn btn-warning" id="btn-empty-cart">
                                <span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">@Localizer["EmptyCart"]</span>
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container-fluid">
            @RenderBody()
        </div>

        <nav class="navbar page-footer navbar-fixed-bottom hidden-xs">
            <div class="container-fluid">
                <div class="navbar-text">
                    <span>Why compromize when you can personalize?</span>
                </div>
                <div class="navbar-text navbar-right">
                    <span>Powered by</span>
                    <img src="/img/klarna-white-tagline.png" alt="Klarna" />
                    <img src="/img/bankgirot-logo.png" alt="Bankgirot" />
                </div>
            </div>
        </nav>
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/modernizr-custom/modernizr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var isEmptyCart = function () {
                return /0/.test($("#cart-counter").text());
            };

            $("#btn-empty-cart").click(function () {
                if (isEmptyCart())
                    return false;
                var target = $(this).attr("href");
                $.ajax(target).success(function () {
                    $("#cart-counter").fadeOut(function () {
                        $(this).text(0).fadeIn();
                    });
                    $("#cart-cost").fadeOut(function () {
                        $(this).text(0).fadeIn();
                    });
                });
                return false;
            });

            $("a[href]").each(function () {
                if (this.href === window.location.href) {
                    $(this).addClass("active");
                }
            });

            if (!Modernizr.inputtypes.time) {
                console.log("HTML5 timepicker not supported. Using bootstrap-timepicker as fallback.");
                $("input[type='time']")
                    .timepicker({
                        "minuteStep": 15,
                        "showMeridian": false
                    });
            }
            if (!Modernizr.inputtypes.month) {
                console.log("HTML5 monthpicker not supported. Using bootstrap-datepicker as fallback.");
                $("input[type='month']")
                    .datepicker({
                        "format": "yyyy-mm",
                        "startView": "months",
                        "viewMode": "months",
                        "minViewMode": "months"
                    });
            }
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
